body{
    background: black;
    color:white;
}
.gamecard{
    border:1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin:10px;
    width :600px;
    height: 150px;
    border-radius: 25px;
}

.gamecard button{
    width: 100px;
    height: 50px;
    border: 1px solid blue;
    border-radius: 10px;
}

.gamecard:hover{
    background-color: grey;
}

.selector{
    display:flex;
    
}